<div class="outline w-10 pa3 mr2">
  {{payload.pair}}
</div>
<div class="outline w-30 pa3 mr2">
  {{to-fixed payload.amount 8}}
</div>
<div class="outline w-30 pa3 mr2">
  {{to-fixed payload.vwap 8}} <small>(VWAP)</small>
</div>
<div class="outline w-10 pa3 mr2">
  {{payload.exchange}}
</div>
<div class="outline w-20 pa3 mr2 {{highLowCss}}">
  {{to-fixed highLow 4}}
</div>
